body {
    background-color: #5499C7;
    margin:0;
 }
 
 svg text {
   font-family: Lora;
   letter-spacing: 10px;
   stroke: #ffa5d8;
   font-size: 50px;
   font-weight: 700;
   stroke-width: 3;
   animation: textAnimate 5s infinite alternate;
   
 }
 
 @keyframes textAnimate {
   0% {
     stroke-dasharray: 0 50%;
     stroke-dashoffset:  20%;
     fill:hsl(189, 68%, 75%)
 
   }
   
   100% {
     stroke-dasharray: 50% 0;
     stroke-dashoffstet: -20%;
     fill: hsla(189, 68%, 75%,0%)
   }
   
 }
 
 
 